<ion-view title="KDS">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row">
      <div class="col">

      <div class="list card menu-card" ng-repeat="item in displayLists">
        <div class="item">
          <h3>{{item.delivery_method}} {{item.match_method}}</h3>
        </div>

        <div class="item">
          <p ng-repeat="orderItem in item.order_items">{{orderItem.name}} X {{orderItem.quantity}}</p>
        </div>
      </div>

    </div>
    </div>
  </ion-content>
</ion-view>
