<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu width="100" side="left">
    <!-- <ion-header-bar class="bar-assertive">
      <h1 class="title"></h1>
    </ion-header-bar> -->
    <ion-content>
      <ul class="list" style="height: 100vh">
          <a href="#/pos/takeorder/rice" class="item" style="height: 33%" ng-click="takeOrder()" menu-close>點<br>餐</a>
          <a href="#/pos/orderlist" class="item" style="height: 33%; border-bottom: 2px solid #ddd" menu-close>訂<br>單</a>
          <a href="#/pos/kds" class="item" style="height: 33%" menu-close>K<br>D<br>S</a>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
