<ion-view title="Order List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="button-bar bar-positive">
      <a class="button" ng-click="selectOrder(0)" ng-class="{'active': getTabState(0)}">Unhandled Orders</a>
      <a class="button" ng-click="selectOrder(1)" ng-class="{'active': getTabState(1)}">All Orders</a>
      <a class="button" ng-click="selectOrder(2)" ng-class="{'active': getTabState(2)}">Takeout Orders</a>
      <a class="button" ng-click="selectOrder(3)" ng-class="{'active': getTabState(3)}">Internet Orders</a>
    </div>

    <ion-list>
      <ion-item ng-repeat="item in orderLists| orderListFilter:match" item="item" class="item item-complex">
        <a class="item-content">
         {{item.match_method}} --- {{item.delivery_method}} <span ng-repeat="orderItem in item.order_items">{{orderItem.name}}X{{orderItem.quantity}}</span>
         共{{item.subTotal}}元
        <button class="button button-positive order-list-btn" ng-click="updateOrder(item, $event)">
          {{updateOrderStr}}
        </button>
        <button class="button button-positive order-list-btn" ng-click="changePaidState(this)">
          {{paidStateStr}}
        </button>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
