<ion-view title="KDS" hide-nav-bar="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col">

      <div class="list card menu-card" ng-repeat="item in displayLists">
        <div class="item">
          <h3> Order ID: {{item.order_id}}</h3>
        </div>

        <div class="item">
          <p> {{item.delivery_method}} {{item.match_method}} </p>
          <p ng-repeat="orderItem in item.order_items">{{orderItem.product_name}} X {{orderItem.quantity}}</p>
        </div>
      </div>

    </div>
    </div>
  </ion-content>
</ion-view>
