<ion-popover-view>
  <ion-content>
    <div ng-repeat="keypadRow in keypads">
      <p>
        <div class="button-bar bar-assertive">
          <a class="button" ng-repeat="digit in keypadRow" ng-click="numberPressed(digit)">{{digit}}</a>
        </div>
      </p>
    </div>
    <p>
      <div class="button-bar bar-assertive">
        <a class="button" ng-click="numberPressed(0)">0</a>
        <a class="button" ng-click="deletePressed()"><i class='icon ion-backspace-outline'></i></a>
      </div>
    </p>
  </ion-content>
</ion-popover-view>
