<ion-view title="Order List" hide-nav-bar="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="button-bar bar-positive">
      <a class="button" ng-click="selectOrder(0)" ng-class="{'active': getTabState(0)}">All Orders</a>
      <a class="button" ng-click="selectOrder(1)" ng-class="{'active': getTabState(1)}">Confirmed Orders</a>
      <a class="button" ng-click="selectOrder(2)" ng-class="{'active': getTabState(2)}">Local Orders</a>
      <a class="button" ng-click="selectOrder(3)" ng-class="{'active': getTabState(3)}">Internet Orders</a>
    </div>

    <ion-list>
      <ion-item ng-repeat="item in orderLists| orderListFilter:match" item="item" class="item item-complex">
        <a class="item-content">
        <div style="display: inline-block">
         {{item.match_method}} - {{item.delivery_method}} - {{item.order_id}}
         <div ng-repeat="orderItem in item.order_items">
          {{orderItem.product_name}}X{{orderItem.quantity}}
         </div>
         共{{item.subTotal}}元
        </div>
        <button class="button button-positive order-list-btn" ng-click="updateOrder(item)">
          {{updateOrderStr}}
        </button>
        <button class="button button-positive order-list-btn" ng-click="cancelOrder(item)">
          {{cancelOrderStr}}
        </button>
        <button class="button button-positive order-list-btn" ng-click="confirmOrder(item)">
          {{confirmOrderStr}}
        </button>
        <button class="button button-positive order-list-btn" ng-click="markAsDelivering(item)">
          {{markAsDeliveringStr}}
        </button>
        </a>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="!noMoreOrdersAvailable" on-infinite="loadMore()" distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
