<ion-view title="Take Order">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row">
      <div class="col col-33" id="order-summary">

        <div class="row row-50">
          <div class="col">
            <div class="list list-inset">
              <div class="item" ng-repeat="item in currentItems">
                {{item.product_name}} X {{item.quantity}} = {{item.quantity*item.price}}
              </div>
            </div>
            <hr></hr>
            <h3> {{totalStr}}: {{subTotal}} </h3>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="list order-option">
              <label class="item item-radio" ng-repeat="option in options">
                <input type="radio" name="group" ng-click="onOptionSelected(option, $index)" ng-checked="setChecked($index)">
                <div class="item-content">{{option}}</div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
            </div>
            <button ng-disabled="!cartNotEmpty" class="button button-full button-positive" ng-click="createOrder()">
              {{createOrderStr}}
            </button>
          </div>
        </div>

      </div> <!--End of order-summary -->

      <div class="col col-67" id="order-menu">
        <div class="row">
          <div class="col">
            <ion-tabs class="tabs-top tabs-striped tabs-positive" id="category-tab">
              <ion-tab title="{{rice}}" href="#" ng-click="selectTab(0)"></ion-tab>
              <ion-tab title="{{noodle}}" href="#" ng-click="selectTab(1)"></ion-tab>
              <ion-tab title="{{tapas}}" href="#" ng-click="selectTab(2)"></ion-tab>
            </ion-tabs>
          </div>
        </div>

        <div class="list card menu-card" ng-repeat="item in menu | menuFilter:state">
          <div class="item">
            <h3>{{item.product_name}}</h3>
          </div>

          <div class="item item-image">
            <img class="food-image" ng-src="{{item.img}}" style="width: 100%">
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item assertive" href="#" ng-click="plus(item)">
              <i class="icon ion-plus larger-icon"></i>
            </a>
            <span class="tab-item assertive" style="font-size: 48px" ng-click="showKeyboard(item, $event)">{{item.quantity}}</span>
            <a class="tab-item assertive" href="#" ng-click="minus(item)">
              <i class="icon ion-minus" style="font-size: 30px"></i>
            </a>
          </div>
        </div>

      </div> <!-- End of order-menu -->
    </div>
  </ion-content>
</ion-view>
