#category-tab > * {
  top: 0;
  position: relative !important;
}

.menu-card {
  width: 30%;
  float: left;
}

.row-50 {
  min-height: 50vh;
}

label:last-child,
label:nth-last-child(2) {
  border-bottom: 2px solid #ddd;
}

.order-list-btn {
  float: right;
  margin-right: 5px;
}

.button-bar .button {
  font-size: 30px;
}

.icon:before {
  font-size: 48px !important;
}
